<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

    <form action="/team" method="post">
        <p>
           <li>
                <label for="name">
                    Team Name:
                </label>
                <input type="text" name="name">
           </li>
           <li>
                <label for="coach">
                    Coach:
                </label>
                <input type="text" name="coach">
           </li>
           <li>
                <label for="pg">
                    Point Guard:
                </label>
                <input type="text" name="pg">
           </li>
           <li>
                <label for="sg">
                    Shooting Guard:
                </label>
                <input type="text" name="sg">
            </li>
            <li>
                <label for="sf">
                Small Forward:
                </label>
                <input type="text" name="sf">
            </li>
            <li>
                <label for="pf">
                Power Forward:
                </label>
                <input type="text" name="pf">
            </li>
            <li>
                <label for="c">
                Center:
                </label>
                <input type="text" name="c">
            </li>
            <li id="Submit">
                <input type="submit" value="Submit">
            </li>
        </p>
    </form>
 </body>
</html>


